/* Website CSS reset */
body,
html {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

/* animated background */
#nodes {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* title container */
#container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25; /* <- temp padding */
  border: 1px #ccc solid;
}
/* title: alignment, size, and color ["Group 4:"] */
#title {
  flex: 1;
  text-align: center;
  color: white;
  font-size: 150%;
}
/* title: alignment, size, and color ["AI Technology"] */
#title p {
  font-size: 140%;
}

/* popout area; space between people icons and title (labeled as temp just in case we want to rearrange it */
#temp {
  padding: 10%;
  border: 1px #ccc solid;
}
/* pop/hover element(s) & section (guidance from CHATGPT) */
.popup {
  display: none;
  position: absolute;
  padding: 10px;
  z-index: 0;
}

#container-popup {
  display: flex;
}

.hover-element {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* People Portion */
#flex-container {
  display: flex;
  position: relative;
  padding: 0px;
  padding-top: 5%;
  padding-bottom: 40px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* temp border */
  border: 1px red solid;
}

/* individual people (two seperate buttons merged together so there could be a gap between head and body */
.box-1 {
  position: relative;
  flex: 1;
  z-index: 2;
  /* temp border */
  border: 1px blue solid;
}

/* another box over people which enlarges the head, can be removed */
.double {
  width: 80%;
  margin-bottom: 1px;
  cursor: pointer;
  transition: transform 0.3s ease;
  /* temp border */
  border: 1px purple solid;
}

/* the circle which creates the head */
.head {
  height: 100%;
  width: 50%;
  padding-bottom: 50%;
  margin-bottom: 0;
  cursor: pointer;
  border: none;
  background-color: none;
  border-radius: 40em;
  transition: transform 0.3s ease;
  /* temp border */
  border: 1px darkgreen solid;
}

/* body portion, underneath the head */
.enlarge {
  height: 100%;
  width: 75%;
  padding-bottom: 100%;
  cursor: pointer;
  border: none;
  background-color: none;
  border-radius: 40em 40em 60em 60em;
  transition: transform 0.3s ease;
  /* temp border */
  border: 1px darkblue solid;
}
/* enlarges both head and body */
.double:hover {
  transform: scale(1.2);
}
/* enlarges head again so it creates a little in and out effect when hoveering over just the head */
.head:hover {
  transform: scale(1.1);
}
/* bar below people in order to provide a possible subject change and add more details below or inside of it */
.divide-bar {
  display: block;
  padding: 25px;
  color: white;
  background-color: #ccc;
}
/* subject change title */
.divide-bar h1 {
  padding: 0;
  margin: 0;
  font-size: 40px;
}

/* People/Facts (this gives each person an ID so we can style it further, can be removed if need be) */
#person-1 {
  margin: 0;
}

#person-2 {
  margin: 0;
}

#person-3 {
  margin: 0;
}

#person-4 {
  margin: 0;
}

#person-5 {
  margin: 0;
}
